- Exercici 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.



Important

Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.

--------------------------------------------------------------------------------------------------

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
airlines_df=pd.read_csv ("DelayedFlights.csv")
airlines_df=airlines_df.sample(n=200000, frac=None, replace=False, weights=None, random_state=None)

In [2]:
airlines_df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
271334,864409,2008,2,14,4,2003.0,1805,2253.0,2058,US,...,4.0,34.0,0,N,0,0.0,0.0,0.0,0.0,115.0
219289,696145,2008,2,2,6,1415.0,1345,1530.0,1515,XE,...,4.0,10.0,0,N,0,0.0,0.0,0.0,0.0,15.0
700705,2291654,2008,4,11,5,657.0,625,926.0,835,AA,...,8.0,12.0,0,N,0,32.0,0.0,19.0,0.0,0.0
1210757,4043737,2008,7,17,4,2017.0,1830,2224.0,2010,MQ,...,5.0,48.0,0,N,0,0.0,0.0,31.0,0.0,103.0
525138,1649196,2008,3,5,3,1211.0,1115,1313.0,1210,9E,...,4.0,35.0,0,N,0,0.0,0.0,7.0,0.0,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637437,5990240,2008,11,18,2,1911.0,1900,2008.0,2000,WN,...,7.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1068673,3561335,2008,6,26,4,1810.0,1630,1924.0,1752,CO,...,5.0,27.0,0,N,0,0.0,0.0,5.0,0.0,87.0
1917424,6962165,2008,12,16,2,1328.0,1320,1635.0,1631,B6,...,6.0,18.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1291368,4322172,2008,8,29,5,1844.0,1735,1947.0,1840,WN,...,3.0,19.0,0,N,0,0.0,0.0,0.0,0.0,67.0
1450034,4961913,2008,9,4,4,835.0,757,930.0,905,YV,...,6.0,2.0,0,N,0,25.0,0.0,0.0,0.0,0.0

Hi ha variables des de número de vol, any (sempre és el mateix evidentment) data, hores de sortida i arribada reals i previstes, temps a pista, temps de vol, origen, destí, distància...
He decidit quedar-me amb els delays, amb les distàncies, amb les destinacions i les dates per tal de poder establir alguna relació entre aquestes variables.

In [3]:
airlines_df_filtrat= airlines_df[["Month","DayofMonth","DepTime", "CRSDepTime","ArrTime","CRSArrTime", "AirTime", "ArrDelay", "DepDelay","Origin", "Dest", "Distance"]]
airlines_df_filtrat

,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance
271334,2,14,2003.0,1805,2253.0,2058,312.0,115.0,118.0,CLT,SEA,2279
219289,2,2,1415.0,1345,1530.0,1515,61.0,15.0,30.0,SAT,TUL,483
700705,4,11,657.0,625,926.0,835,189.0,51.0,32.0,MIA,ORD,1197
1210757,7,17,2017.0,1830,2224.0,2010,74.0,134.0,107.0,CLE,LGA,418
525138,3,5,1211.0,1115,1313.0,1210,23.0,63.0,56.0,MSP,RST,76
...,...,...,...,...,...,...,...,...,...,...,...,...
1637437,11,18,1911.0,1900,2008.0,2000,43.0,8.0,11.0,HOU,DAL,239
1068673,6,26,1810.0,1630,1924.0,1752,42.0,92.0,100.0,EWR,BOS,200
1917424,12,16,1328.0,1320,1635.0,1631,163.0,4.0,8.0,FLL,BOS,1237
1291368,8,29,1844.0,1735,1947.0,1840,41.0,67.0,69.0,MDW,STL,251
1450034,9,4,835.0,757,930.0,905,107.0,25.0,38.0,ORF,ORD,717

- Exercici 2

Fes un informe complet del dataset:

    Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.
    Troba quantes dades faltants hi ha per columna.
    Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
    Fes una taula de les aerolínies amb més endarreriments acumulats.
    Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.
    Aporta allò que consideris rellevant.

In [4]:
#Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.
airlines_df_filtrat.describe()

,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,AirTime,ArrDelay,DepDelay,Distance
count,200000.000000,200000.000000,200000.000000,200000.000000,199259.000000,200000.000000,199148.000000,199148.000000,200000.000000,200000.000000
mean,6.104075,15.701205,1519.512395,1467.970080,1612.123548,1635.101100,108.157054,42.182894,43.171715,764.959530
std,3.481691,8.783751,449.870639,424.254924,546.702072,463.586099,68.461176,56.981994,53.639775,573.226334
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-56.000000,6.000000,11.000000
25%,3.000000,8.000000,1204.000000,1135.000000,1317.000000,1325.000000,58.000000,9.000000,12.000000,338.000000
50%,6.000000,16.000000,1546.000000,1510.000000,1717.000000,1709.000000,90.000000,25.000000,24.000000,606.000000
75%,9.000000,23.000000,1901.000000,1817.000000,2031.000000,2014.000000,137.000000,56.000000,53.000000,998.000000
max,12.000000,31.000000,2400.000000,2359.000000,2400.000000,2400.000000,649.000000,1510.000000,1521.000000,4962.000000

In [5]:
airlines_df_filtrat[['ArrDelay','DepDelay']].describe()

            ArrDelay       DepDelay
count  199148.000000  200000.000000
mean       42.182894      43.171715
std        56.981994      53.639775
min       -56.000000       6.000000
25%         9.000000      12.000000
50%        25.000000      24.000000
75%        56.000000      53.000000
max      1510.000000    1521.000000

No hi ha diferències importants entre ArrDelay i DepDelay per la qual cosa podem intuir que la majoria de retards no són per un augment del temps de vol, si no per un retar en la sortida

In [6]:
#    Troba quantes dades faltants hi ha per columna.
airlines_df.isnull().sum()

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                741
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      852
CRSElapsedTime          17
AirTime                852
ArrDelay               852
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 741
TaxiOut                 43
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71189
WeatherDelay         71189
NASDelay             71189
SecurityDelay        71189
LateAircraftDelay    71189
dtype: int64

In [7]:
#Ho he calculat també percentualment perquè em dona més informació
dades_buides=airlines_df.isnull().sum()
dades_totals=airlines_df.shape[0]
percentatge=dades_buides/dades_totals
percentatge

Unnamed: 0           0.000000
Year                 0.000000
Month                0.000000
DayofMonth           0.000000
DayOfWeek            0.000000
DepTime              0.000000
CRSDepTime           0.000000
ArrTime              0.003705
CRSArrTime           0.000000
UniqueCarrier        0.000000
FlightNum            0.000000
TailNum              0.000000
ActualElapsedTime    0.004260
CRSElapsedTime       0.000085
AirTime              0.004260
ArrDelay             0.004260
DepDelay             0.000000
Origin               0.000000
Dest                 0.000000
Distance             0.000000
TaxiIn               0.003705
TaxiOut              0.000215
Cancelled            0.000000
CancellationCode     0.000000
Diverted             0.000000
CarrierDelay         0.355945
WeatherDelay         0.355945
NASDelay             0.355945
SecurityDelay        0.355945
LateAircraftDelay    0.355945
dtype: float64

Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).

In [9]:
#Columna amb velocitat mitjana
distancia = airlines_df_filtrat['Distance']
temps = airlines_df_filtrat['AirTime']
temps_hora= temps/60
velocitat_mitjana = distancia / temps_hora
airlines_df_filtrat['VelocitatMitjana'] = velocitat_mitjana
airlines_df_filtrat

/tmp/ipykernel_1669/1066355783.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airlines_df_filtrat['VelocitatMitjana'] = velocitat_mitjana

,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,VelocitatMitjana
271334,2,14,2003.0,1805,2253.0,2058,312.0,115.0,118.0,CLT,SEA,2279,438.269231
219289,2,2,1415.0,1345,1530.0,1515,61.0,15.0,30.0,SAT,TUL,483,475.081967
700705,4,11,657.0,625,926.0,835,189.0,51.0,32.0,MIA,ORD,1197,380.000000
1210757,7,17,2017.0,1830,2224.0,2010,74.0,134.0,107.0,CLE,LGA,418,338.918919
525138,3,5,1211.0,1115,1313.0,1210,23.0,63.0,56.0,MSP,RST,76,198.260870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637437,11,18,1911.0,1900,2008.0,2000,43.0,8.0,11.0,HOU,DAL,239,333.488372
1068673,6,26,1810.0,1630,1924.0,1752,42.0,92.0,100.0,EWR,BOS,200,285.714286
1917424,12,16,1328.0,1320,1635.0,1631,163.0,4.0,8.0,FLL,BOS,1237,455.337423
1291368,8,29,1844.0,1735,1947.0,1840,41.0,67.0,69.0,MDW,STL,251,367.317073
1450034,9,4,835.0,757,930.0,905,107.0,25.0,38.0,ORF,ORD,717,402.056075

He intentat arrodonir la velocitat mitjana mitjançant
airlines_df_filtrat.round ({'VelocitatMijana':2})
però m'ha donat error

Nova columna amb els vols que han arribat puntuals i els que no

In [13]:
ontime= airlines_df_filtrat ['ArrDelay'] <=0
airlines_df_filtrat['Ontime'] = ontime
offtime= airlines_df ['ArrDelay'] >0
airlines_df['Offtime'] = offtime
airlines_df

/tmp/ipykernel_1669/2411786838.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airlines_df_filtrat['Ontime'] = ontime

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Offtime
271334,864409,2008,2,14,4,2003.0,1805,2253.0,2058,US,...,34.0,0,N,0,0.0,0.0,0.0,0.0,115.0,True
219289,696145,2008,2,2,6,1415.0,1345,1530.0,1515,XE,...,10.0,0,N,0,0.0,0.0,0.0,0.0,15.0,True
700705,2291654,2008,4,11,5,657.0,625,926.0,835,AA,...,12.0,0,N,0,32.0,0.0,19.0,0.0,0.0,True
1210757,4043737,2008,7,17,4,2017.0,1830,2224.0,2010,MQ,...,48.0,0,N,0,0.0,0.0,31.0,0.0,103.0,True
525138,1649196,2008,3,5,3,1211.0,1115,1313.0,1210,9E,...,35.0,0,N,0,0.0,0.0,7.0,0.0,56.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637437,5990240,2008,11,18,2,1911.0,1900,2008.0,2000,WN,...,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN,True
1068673,3561335,2008,6,26,4,1810.0,1630,1924.0,1752,CO,...,27.0,0,N,0,0.0,0.0,5.0,0.0,87.0,True
1917424,6962165,2008,12,16,2,1328.0,1320,1635.0,1631,B6,...,18.0,0,N,0,NaN,NaN,NaN,NaN,NaN,True
1291368,4322172,2008,8,29,5,1844.0,1735,1947.0,1840,WN,...,19.0,0,N,0,0.0,0.0,0.0,0.0,67.0,True
1450034,4961913,2008,9,4,4,835.0,757,930.0,905,YV,...,2.0,0,N,0,25.0,0.0,0.0,0.0,0.0,True

Fes una taula de les aerolínies amb més endarreriments acumulats.

In [15]:
carrier_oftime = airlines_df.groupby ('UniqueCarrier')['Offtime'].sum()
carrier_oftime

UniqueCarrier
9E     4801
AA    18035
AQ       67
AS     3516
B6     5027
CO     8647
DL    10409
EV     7640
F9     2686
FL     6660
HA      736
MQ    13410
NW     7428
OH     5067
OO    12575
UA    12874
US     8539
WN    33481
XE     9763
YV     6560
Name: Offtime, dtype: int64

Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.

In [16]:
#vols més llargs
vols_llargs = airlines_df.sort_values (by='Distance', ascending= False)
vols_llargs ['Distance']

1623966    4962
1924575    4962
173676     4962
1065857    4962
362852     4962
           ...
1512817      31
1406299      31
1719999      31
521905       24
1310766      11
Name: Distance, Length: 200000, dtype: int64

In [17]:
#vols més endarrerits
vols_endarrerits = airlines_df.sort_values (by='ArrDelay', ascending= False)
vols_endarrerits ['ArrDelay']

1214839    1510.0
1885481    1395.0
1554448    1392.0
545038     1370.0
1599337    1346.0
            ...
1888221       NaN
241349        NaN
1062918       NaN
1915099       NaN
530296        NaN
Name: ArrDelay, Length: 200000, dtype: float64

In [19]:
#Busca les rutes més llargues i les que acumulen més retards.
airlines_df[['Origin','Dest']].value_counts()

Origin  Dest
LAX     SFO     495
ORD     LGA     428
ATL     LGA     416
SFO     LAX     415
LGA     ORD     349
               ...
MKE     MCI       1
BWI     DAB       1
AZO     CVG       1
CMH     RSW       1
MSP     SAT       1
Length: 4825, dtype: int64

No he sapigut avançar més

Exporta el dataset net i amb les noves columnes a Excel.

In [ ]:
nom_excel= 'Airlines_sheet.xlsx'
airlines_df.to_excel(nom_excel)